body {
  background-color: hsl(233, 47%, 7%);
}

.chenar {
  height: 446px;
  width: 35%;
  margin-left: 15%;
  background-color: hsl(244, 38%, 16%);
  margin-top: 10%;
  margin-bottom: auto;
  float: left;
  display: block;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.poza {
  height: 446px;
  width: 35px;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: auto;
  float: left;
  display: block;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
 filter: sepia(79%) saturate(280%) hue-rotate(237deg) brightness(72%) contrast(85%);
}

#titlu_h1 {
  font-size: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  color: white;
}

#first_p {
  color: gray;
  padding-left: 50px;
  padding-right: 100px;
}

#insights {
  color: hsl(277, 64%, 61%);
}

.pict {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*--------------------------------------------------*/

#p_10k {
  color: white;
  word-spacing: 75px;
  margin-top: 60px;
  text-align: center;
  margin-right: auto;
  line-height: 0.6;
  padding-left: 50px;
  padding-right: 100px;
}

#p_10kp {
  color: gray;
  word-spacing: 165px;
  text-transform: uppercase;
  font-family: "Courier New", monospace;
  text-align: center;
  margin-right: 25px;
  line-height: 0.2;
  padding-left: 50px;
  padding-right: 100px;
}

#tq {
  word-spacing: 170px;
}
